<div class="row">
    <div class="col-sm-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!-- ng dropdown menu button -->
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                    Manage Recipe<span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">To shopping list</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Edit recipe</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Delete  Recipe</a></li>
                    <!-- <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                    </li> -->
                </ul>
            </div>
            <!-- ng dropdown menu button -->
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
         Description {{ recipe.name }}
         {{ recipe.description }}
         {{ recipe.imagePath }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Ingredients
    </div>
</div>




<!-- <div class="row">
    <div class="col-sm-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <col-sm-12>
        <h1>recipe name</h1>
    </col-sm-12>
</div>
<div class="row">
    <col-sm-12>
        
    </col-sm-12>
</div> -->
